.reveal section img {
    border: 0px;
    box-shadow: none;
}

.left-col {
    width: 50%;
    float: left;
}

.right-col {
    width: 50%;
    float: right;
}

.clear-col {
    float: none;
    clear: both;
}

code {
    color: #22F;
}

.medium code {
    font-size: 18px;
    line-height: 20px;
}

.small p {
    font-size: 36px;
}

.small code {
    font-size: 16px;
    line-height: 18px;
}

.small-table td {
    border: 0px;
    font-size: 24px;
    margin: 0px;
}


.bio-table td {
    text-align: center !important;
    border: 0px !important;
    max-width: 400px;
}

.github {
    font-size: 26px !important;
}

/* Images */
img[alt="portrait"] {
    width: 350px;
    border: 2px solid black !important;
}

img[alt="small_portrait"] {
    width: 220px;
    border: 2px solid black !important;
}


